/* a:link {
  color: black;
  background-color: yellow;
  border: green solid 2px;
  font-size: 85px;
}

a:visited {
  color: white;
}

a:hover {
  color: red;
  font-size: 35px;
}

a:focus {
  border: red 3px solid;
}

a:active {
  color: green;
  border: none;
  font-size: 89px;
} */

a:link {
  color: #2563eb;
}

a:visited {
  color: #7c3aed;
}

a:hover {
  background-color: grey;
}

a:focus {
  border: none;
  margin: 100px;
  background-color: green;
}

a:active {
  font-size: 40px;
}
